{% extends 'base.html'%}

{% block content %}
<div class="content_container">
    <h1>Edit {{member.first_name}} {{member.last_name}}'s details</h1>
    <form action="/members/{{member.id}}" method="post" class="new_item_form">
        <label for="first_name" class="new_item_label">First Name:</label>
        <input type="text" name="first_name" id="first_name" required value="{{member.first_name}}" class="new_item_input">

        <label for="last_name" class="new_item_label">Last Name:</label>
        <input type="text" name="last_name" id="last_name" required value="{{member.last_name}}" class="new_item_input">

        <label for="email" class="new_item_label">Email:</label>
        <input type="text" name="email" id="email" required value="{{member.email}}" class="new_item_input">

        <label for="phone_number" class="new_item_label">Phone Number:</label>
        <input type="text" name="phone_number" id="phone_number" required value="{{member.phone_number}}" class="new_item_input">

        <label for="post_code" class="new_item_label">Post Code:</label>
        <input type="text" name="post_code" id="post_code" required value="{{member.post_code}}" class="new_item_input">

        <label for="membership" class="new_item_label">Membership Tier:</label>
        <div>
            <input type="radio" id="standard" name="membership" required value="standard" 
            {% if member.membership == "standard" %} checked="checked" {% endif %}>
            <label for="standard">Standard</label>
            <input type="radio" id="premium" name="membership" required value="premium"
            {% if member.membership == "premium" %} checked="checked" {% endif %}>
            <label for="premium">Premium</label>
        </div>
        <input type="submit" class="new_item_input">
    </form>
</div>
{% endblock %}