{% extends 'base.html'%}

{% block content %}
<div class="content_container">
    <h1>{{member.first_name}} {{member.last_name}} - {{member.membership.capitalize()}} Member</h1>
    <p>Joined: {{member.join_date}}</p>
    <h3>Contact info:</h3>
    <p>Phone number: {{member.phone_number}}</p>
    <p>Email: {{member.email}}</p>
    <p>Post Code: {{member.post_code}}</p>
    
    <a href="/members/{{member.id}}/edit" class="light_grey_button">Edit account</a>
    
    <br>

    <h1>Upcoming booked classes</h1>
    <div class="content_container_row">
        {% for fitness_class in fitness_classes %}
        <a href="/classes/{{fitness_class.id}}" class="container_row_classes">
            <p class="row_item_left_align">{{fitness_class.title}}</p>
            <p class="row_item_left_align">{{ fitness_class.trainer.first_name }}</p>
            <p class="row_item">{{ fitness_class.location.name }}</p>
            <p class="row_item_right_align">{{ fitness_class.date }}</p> 
        </a>
    {% endfor %}
    </div>

    <form action="/members/{{ member.id }}/delete" method="post">
        <input type="submit" value="Delete Account" class="delete_button">
    </form>
</div>
{% endblock %}