{% extends 'base.html'%}

{% block content %}
    <div class="content_container">
        <h1>All classes</h1>
        <a href="/classes/new" class="light_grey_button">Create new class</a>
        <div class="content_container_row">
            <div class="container_row_classes" style="background-color: transparent;">
                <p class="row_item_left_align">Class</p>
                <p class="row_item_left_align">Instructor</p>
                <p class="row_item">Location</p>
                <p class="row_item_right_align">Date and Time</p>
            </div>
            {% for fitness_class in all_fitness_classes %}
            <a href="/classes/{{fitness_class.id}}" class="container_row_classes">
                {% if (fitness_class.time.hour >= 17 and fitness_class.time.hour <19) or (fitness_class.time.hour >= 7 and fitness_class.time.hour <9) %}
                <p class="row_item_left_align"><b>{{fitness_class.title}}</b></p>
                <p class="row_item_left_align"><b>{{fitness_class.trainer.first_name}} {{fitness_class.trainer.last_name}}</b></p>
                <p class="row_item"><b>{{fitness_class.location.name}}</b></p>
                <p class="row_item_right_align"><b>{{fitness_class.date.strftime("%a %b %d")}} at {{ fitness_class.time.strftime("%I:%M%p") }}</b></p>
                {% else %}
                <p class="row_item_left_align">{{fitness_class.title}}</p>
                <p class="row_item_left_align">{{fitness_class.trainer.first_name}} {{fitness_class.trainer.last_name}}</p>
                <p class="row_item">{{fitness_class.location.name}}</p>
                <p class="row_item_right_align">{{fitness_class.date.strftime("%a %b %d")}} at {{ fitness_class.time.strftime("%I:%M%p") }}</p>
                {% endif %}                
            </a>
            {% endfor %}
        </div>
        <p class="notice">Note: Bold indicate peak time slots</p>
    </div>
{% endblock %}