{% extends 'base.html'%}

{% block content %}
    <div class="content_container">
        <h1>Create new class</h1>
        <form action="/classes" method="post" class="new_item_form">

                <label for="title" class="new_item_label">Title:</label>
                <input type="text" name="title" id="title" required class="new_item_input">

                <label for="date" class="new_item_label">Date:</label>
                <input type="date" id="date" name="date" placeholder="YYYY-MM-DD" required class="new_item_input">

                <label for="time" class="new_item_label">Time:</label>
                <input type="time" id="time" name="time" step=300 placeholder="HH:MM" min="07:00" max="20:00" required class="new_item_input">

                <label for="trainer_id" class="new_item_label">Trainer:</label>
                <select name="trainer_id" id="trainer_id" class="new_item_input" required>
                    <option selected="true" disabled="disabled">Choose a trainer</option>
                    {% for trainer in trainers %}
                        <option value="{{trainer.id}}">{{trainer.first_name}} {{trainer.last_name}}</option>
                    {% endfor %}
                </select>

                <label for="location_id" class="new_item_label">Location:</label>
                <select name="location_id" id="location_id" class="new_item_input" required>
                    <option selected="true" disabled="disabled">Choose a location</option>
                    {% for location in locations %}
                        <option value="{{location.id}}">{{location.name}}</option>
                    {% endfor %}
                </select>

                <label for="capacity" class="new_item_label">Capacity:</label>
                <input type="number" name="capacity" id="capacity" min="1" max="50" required class="new_item_input">

            <input type="submit" class="new_item_input">
        </form>
    </div>
{% endblock %}