/* GLOBAL */
html{
    background-color:#333333;
    text-decoration: none;
    color: white;

    line-height: 1.52947em;
	letter-spacing: -.021em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
a{
    color: #A2E6EF;
}
main{
    margin-top: 20px;
    display: flex;
    justify-content: center;

    margin-left: 140px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* CONTENT LAYOUT */
.content_container{
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #444444;
    width:960px;
    padding:20px;
}
.content_container_row{
    margin: 25px 0px 25px 0px;
}
.container_row{
    text-decoration: none;
    color: white;
    background-color:#5C5C5C;
    padding: 5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    margin: 10px 0px 0px 0px;
}

/* BUTTONS */
.light_grey_button{
    text-decoration: none;
    color: white;
    background-color: #5C5C5C;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
}
.delete_button{
    background-color: #D14F41;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #691109;
    border-radius: 10px;
    cursor: pointer
}
.circle_delete_button{
    display:block;
    box-sizing:border-box;
    width:25px;
    height:25px;
    border-width:5px;
    border-style: solid;
    border-color:#b3b3b3;
    border-radius:100%;
    background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, #5C5C5C 46%,  #5C5C61 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, #5C5C5C 46%,  #5C5C5C 56%,transparent 56%, transparent 100%);
    background-color: #b3b3b3;
}

/* SIDEBAR */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 140px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #325D6A; 
    overflow-x: hidden; /* Disable horizontal scroll */
}
  
/* The navigation menu links */
.sidenav a {
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    color: #bdbdbd;
    display: block;
}
  
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: white;
}
.sidenav-active{
    color: white;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}