/* GLOBAL */
html{
    background-color:#252525;
    text-decoration: none;
    color: white;
    min-width: 750px;

    line-height: 1.52947em;
	letter-spacing: -.021em;
    font-family: 'Montserrat',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
a{
    color: #A2E6EF;
}
main{
    margin-top: 20px;
    display: flex;
    justify-content: center;

    margin-left: 100px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* HOMEPAGE */
.title{
    display: block;
    font-weight: 300;
}
.logo{
    width: 50%;
    filter: drop-shadow(0px 15px 10px #333333);
    margin-left: auto;
    margin-right: auto;
}
.cover{
    position: relative;
}
.cover_photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
.cover_text{
    font-size: 48px;
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* CONTENT LAYOUT */
.content_container{
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #444444;
    width:960px;
    padding:20px;
}

/* LAYOUT FOR TABLES */
.content_container_row{
    margin: 25px 0px 10px 0px;
}
.content_container_row a:hover{
    background-color:grey;
}

/* members row setup */
.container_row_members{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

    text-decoration: none;
    color: white;
    background-color:#5C5C5C;

    padding: 5px 10px 5px 10px;
    margin: 15px 0px 0px 0px;
    transition: all .1s ease-in-out;
}

/* classes row setup */
.container_row_classes{
    display:grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr;

    text-decoration: none;
    color: white;
    background-color:#5C5C5C;

    padding: 5px 10px 5px 10px;
    margin: 15px 0px 0px 0px;
    transition: all .1s ease-in-out;
}

/* justify items in their columns */
.row_item {
    margin:0px;
    justify-self: center;
}
.row_item_left_align{
    margin:0px;
    justify-self: start;
}
.row_item_right_align{
    margin:0px;
    justify-self: end;
}

/* LAYOUT FOR FORM */
.new_item_form {
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    column-gap: 10px;
    row-gap: 5px;
}
.new_item_label {
    grid-column: 1 / 2;
    justify-self: end;
}
.new_item_input {
    grid-column: 2 / 3;
    background-color: #868686;
    font-size: 16px;
    color: white;
    border: 0px solid ;
    padding: 5px;
}

/* Misc */
.notice{
    font-weight: 300;
}