<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Kinetic</title>
</head>
<body>
    <nav class="sidenav">
        <a href="/"><img src="/static/images/nav_buttons/home.png" alt="home" class="sidenav_button"></a>
        <a href="/members"><img src="/static/images/nav_buttons/members.png" alt="members" class="sidenav_button"></a>
        <a href="/classes"><img src="/static/images/nav_buttons/classes.png" alt="classes" class="sidenav_button"></a>
        <!-- <a href="#">Trainers</a> -->
        <!-- <a href="#">Calendar</a> -->
    </nav>
    <main>
        {% block content %}

        {% endblock%}
    </main>
</body>
</html>