{% extends 'base.html'%}

{% block content %}
<div class="content_container">
  <h1>Add a member to: {{ fitness_class.title }} with {{ fitness_class.trainer.first_name }} {{ fitness_class.trainer.last_name }}</h1>
  <h3>{{ fitness_class.date.strftime("%A %B %d, %Y") }} at {{ fitness_class.time.strftime("%I:%M%p") }}  in {{fitness_class.location.name}}</h3>
  <h3></h3>

  {% if (fitness_class.time.hour >= 17 and fitness_class.time.hour <19) or (fitness_class.time.hour >= 7 and fitness_class.time.hour <9) %}
  <p>This is a premium time slot. Only premium members can be booked.</p>
  {% endif %}

  <form action="/attendances" method="post" class="new_item_form">
    <input type="hidden" name="fitness_class_id" value="{{fitness_class.id}}" class="new_item_input">

    <label for="member" class="new_item_label">Member:</label>
    <select id="member" name="member_id" class="new_item_input">
      {% for member in members %}
        <option value="{{ member.id }}">
          {{ member.first_name }} {{member.last_name}} - {{ member.membership }}
        </option>
      {% endfor %}
    </select>

  <input type="submit" class="new_item_input">
  </form>
</div>
{% endblock %}