{% extends 'base.html'%}

{% block content %}
    <h1>{{ fitness_class.title }} on {{ fitness_class.date }} at {{ fitness_class.time }}</h1>
    
    <form action="/attendances" method="post">
        <div>
            <input type="hidden" name="fitness_class_id" value="{{fitness_class.id}}">
        </div>
        <div>
            <label for="member">Member:</label>
            <select id="member" name="member_id">
              {% for member in members %}
                <option value="{{ member.id }}">
                  {{ member.first_name }} {{member.last_name}} - {{ member.membership }}
                </option>
              {% endfor %}
            </select>
          </div>
          <input type="submit">
    </form>
{% endblock %}